/* public/styles.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
}

.container {
    max-width: 400px;
    margin: 0 auto;
}

h1 {
    color: #333;
}

label,
input,
button {
    display: block;
    margin-bottom: 10px;
}

button {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

a {
    text-decoration: none;
    color: #007BFF;
}

a:hover {
    text-decoration: underline;
}
